<div class="character">
  <div class="inner-layout">
    <img
      src="../../assets/super-1.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Spiderman</p>
    <p class="power">32</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-2.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Wonder-woman</p>
    <p class="power">39</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-3.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Vision</p>
    <p class="power">37</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-4.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Iron man</p>
    <p class="power">38</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-5.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Cat-woman</p>
    <p class="power">12</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-6.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Waterman</p>
    <p class="power">13</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-7.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Hulk</p>
    <p class="power">30</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-8.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Black Panther</p>
    <p class="power">28</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-9.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Ninja</p>
    <p class="power">14</p>
  </div>

  <div class="inner-layout">
    <img
      src="../../assets/super-10.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Ant-man</p>
    <p class="power">25</p>
  </div>
</div>
