<div class="character">
  <div class="inner-layout">
    <img
      src="../../assets/super-11.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Captain america</p>
    <p class="power">35</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-12.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Captain-marvel</p>
    <p class="power">34</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-13.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Shadow-woman</p>
    <p class="power">25</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-14.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">X-woman</p>
    <p class="power">30</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-15.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Mr america</p>
    <p class="power">29</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-16.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Water woman</p>
    <p class="power">24</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-17.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Deadpool</p>
    <p class="power">36</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-18.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Doctor-strange</p>
    <p class="power">37</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-19.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Gamora</p>
    <p class="power">25</p>
  </div>
  <div class="inner-layout">
    <img
      src="../../assets/super-20.png"
      alt="image-not-visible"
      class="imageclass"
    />
    <p class="name">Thanos</p>
    <p class="power">40</p>
  </div>
</div>
